.BtnCell {
  background-color: rgb(48, 167, 167);
  width: 50px;
  height: 50px;
}

.BtnCellShip {
  background-color: rgb(171, 197, 21);
}

.BtnCellDestroyedShip {
  background-color: rgb(207, 58, 58);
}

.BtnCellEmptyHit {
  background-color: rgb(53, 70, 170);
}
